<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
</head>
<body>
    <h1>Messages</h1>
    <% if (locals.currentUser) { %>
        <div class="user">
            Welcome <%= locals.currentUser.username %>
        </div>
    <% } else { %>
        <div class="links">
            <a href="/log-in">log in</a>
            <a href="/sign-up">sign up</a>
        </div>
    <% }%>
</body>
</html>