<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join The Club</title>
</head>
<body>
    <h1>Join The Club</h1>
    <a href="/">home</a>
    <form action="/join-the-club" method="post">
        <label for="code">Secret Code:</label>
        <input type="text" name="code" id="code-input">
        <input type="submit" value="submit">
    </form>
</body>
</html>